.main_banner {
  position: relative;
  height: 800px;
  background-size: cover;
  overflow: hidden;
}
.main_banner .milk_top {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}
.main_banner .milk_top img {
  height: 100%;
}
.main_banner .main_text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 110px;
  left: -190px;
}
.main_banner .main_text img {
  width: 130%;
}
.main_banner .main_text .title {
  position: absolute;
  left: 50%;
  transform: translateX(-5%);
  top: 20%;
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
  background: url("../img/ico_yellow.png") no-repeat;
  background-position: 32% top;
}
.main_banner .milk_bottom {
  position: absolute;
  width: 100%;
  bottom: -5px;
}
.main_banner .milk_bottom img {
  width: 100%;
  height: 100%;
}
.main_banner .box .items .title {
  margin: 100px 0 20px;
}