.common_btn {
  position: relative;
  font-size: $fontSizeNormal;
  margin-top: 50px;
  a {
    padding: 15px 30px;
    background: $gBtnColor;
    color: $fontColorBasic;
    font-weight: 500;
  }
  &.common_btn_center {
    display: inline-block;
    @include horizontalCenter; // 가로 가운데 정렬
  }
  &:hover {
    a {
      background: $gBtnHoverColor;
    }
  }
}

.title {
  font-size: $titleFontSizeBig;
  text-indent: 10px;
  padding: 10px 0;
  background: url("../img/ico_yellow.png") no-repeat;
  background-position: left 15%;
}
.title_center {
  @include horizontalCenter; // 가로 가운데 정렬
  display: inline-block;
  font-size: $titleFontSizeBig;
  text-align: center;
  font-weight: 700;
  padding: 10px 0;
  margin-top: 20px;
  background: url("../img/ico_yellow.png") no-repeat;
  background-position: left 15%;
}
p {
  line-height: 28px;
  &.p_center {
    text-align: center;
  }
  &.sub_text {
    font-size: $fontSizeMiddle;
  }
}

.sub_box {
  padding: 10px 20px;
  background-color: $gBtnColor;
}
.sub_box_center {
  @include horizontalCenter; // 가로 가운데 정렬
  display: table;
  padding: 10px 25px;
  background-color: $gBtnColor;
  text-align: center;
}
