/* initial.scss */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body,
html {
  height: 100%;
}

body {
  background: $layoutBgType2;
  color: $fontColorBasic;
  font-family: 'Noto Sans KR', sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
html,
li,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $fontColorBasic;
  transition: 0.5s;
  &:hover {
    color: $fontColorHover;
  }
}
