//메인페이지
.main_banner {
  position: relative;
  height: 800px;
  background-size: cover;
  overflow: hidden;
  .milk_top {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    img {
      height: 100%;
    }
  }
  .main_text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 110px;
    left: -190px;
    img {
      width: 130%;
    }
    .title {
      position: absolute;
      left: 50%;
      transform: translateX(-5%);
      top: 20%;
      text-align: center;
      font-size: 30px;
      line-height: 40px;
      font-weight: 500;
      background: url("../img/ico_yellow.png") no-repeat;
      background-position: 32% top;
    }
  }
  .milk_bottom {
    position: absolute;
    width: 100%;
    bottom: -5px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .box {
    .items {
      .title {
        margin: 100px 0 20px;
      }
    }
  }
}
