// 변수처리

// size width
$siteWidth: 1320px;

// text size
$fontSizeSmall: 12px;
$fontSizeNormal: 16px;
$fontSizeMiddle: 18px;
$fontSizeBig: 21px;

// title text
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 21px;
$titleFontSizeMiddle: 24px;
$titleFontSizeBig: 32px;

// background color
$layoutBg: #fff;
$layoutBgType2: #fef6e1;

// font color
$fontColorBasic: #3c3c3c;
$fontColorPrimary: #b8944d;
$fontColorHover: #e3a936;

// border color
$borderColorPrimary: #3c3c3c;

// button colot
$gBtnColor: #e3f1f4;
$gBtnHoverColor: #e3a936;

//table color
$tableBg: #b9844d;
