// 변수처리

// size width
$siteWidth: 1320px;

// text size
$fontSizeSmall: 14px;
$fontSizeNormal: 16px;
$fontSizeMiddle: 18px;
$fontSizeBig: 21px;

// title text
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 21px;
$titleFontSizeMiddle: 24px;
$titleFontSizeBig: 36px;

// background color
$layoutBg: #fff;
$layoutBgType2: #fef6e1;

// font color
$fontColorBasic: #3c3c3c;
$fontColorPrimary: #ffc063;
$fontColorHover: #e3a936;

// border color
$borderColorPrimary: #ccc;

// button colot
$gBtnColor: #e3f1f4;
$gBtnHoverColor: #ffc063;

//table color
$tableBg: #fef6e1;
